<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Generic</key>
	<dict>
		<key>Privacy</key>
		<array>
			<string>privacy_1.json</string>
		</array>
    </dict>
</dict>
</plist>
